{
  // This comment is allowed even though it is not valid JSON.
  // To Run: java -jar plovr-eba786b34df9.jar build plovr.config

  // To Develop: Compile in mode RAW
  // Advanced mode gives great compression but doesn't work.

  "id": "quizly",
  "output-charset" : "UTF-8",
  "closure-library" : "./closure-library-read-only/closure/goog",
//  "mode": "WHITESPACE_ONLY",
//  "mode": "RAW",
  "mode": "SIMPLE",
//  "mode": "ADVANCED",
  "paths": [],
  "module-output-path": "all_%s.js",
  "modules": {
     "quizly": {
        "inputs": [
		 './javascript.js',
		 './logic.js',
		 './control.js',
		 './procedures.js',
		 './math.js',
		 './lists.js',
		 './text.js',
		 './variables.js',
		 './componentblock.js',

		 './quizme-initblocklyeditor.js',
		 './quizme.js',
//  Because plovr renames functions, eval() doesn't work in 
//  testFunctionAgainstStandard().  So we don't compile quizme-helper.js
//		 './quizme-helper.js',
		 './quizme-components.js',
		 './quizme-component-types.js',
		 './makequiz-helper.js',
		 './quizme-eval.js',
		 './quizme-overrides.js'
               ],
              "deps": []
     }
   }
}